In [4]:
import pandas as pd
import numpy as np

# Создаем DataFrame из предоставленных данных
data = {
    'id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'X': [26, 40, 54, 53, 33, 72, 70, 87, 31, 76],
    'Y': [69, 27, 54, 51, 32, 39, 80, 94, 31, 61],
    'Class': [0, 1, 1, 1, 0, 0, 0, 1, 0, 1]
}
df = pd.DataFrame(data)

# Функция для вычисления евклидова расстояния между двумя точками
def euclidean_distance(x1, y1, x2, y2):
    return np.sqrt((x1 - x2)**2 + (y1 - y2)**2)

# Функция для вычисления расстояния Манхэттена между двумя точками
def manhattan_distance(x1, y1, x2, y2):
    return abs(x1 - x2) + abs(y1 - y2)

# Координаты нового объекта
new_x = 58
new_y = 63

# Вычисляем расстояния от новой точки до всех остальных точек в наборе данных
df['Euclidean_Distance'] = euclidean_distance(new_x, new_y, df['X'], df['Y'])
df['Manhattan_Distance'] = manhattan_distance(new_x, new_y, df['X'], df['Y'])

# Находим ближайшего соседа и три ближайших соседей для каждой метрики
nearest_neighbor_euclidean = df.loc[df['Euclidean_Distance'].idxmin()]
three_nearest_ids_euclidean = df.nsmallest(3, 'Euclidean_Distance')['id'].tolist()
class_for_new_object_euclidean = df.nsmallest(3, 'Euclidean_Distance')['Class'].mode()[0]

nearest_neighbor_manhattan = df.loc[df['Manhattan_Distance'].idxmin()]
three_nearest_ids_manhattan = df.nsmallest(3, 'Manhattan_Distance')['id'].tolist()
class_for_new_object_manhattan = df.nsmallest(3, 'Manhattan_Distance')['Class'].mode()[0]

# Выводим результаты
print("1. Distance from the new object to the nearest neighbor using the Euclidean metric:", round(nearest_neighbor_euclidean['Euclidean_Distance'], 3))
print("2. IDs of the three nearest points to the new object for the Euclidean metric:", ', '.join(map(str, three_nearest_ids_euclidean)))
print("3. Class for the new object with coordinates (20, 48) for k=3 using the Euclidean metric:", class_for_new_object_euclidean)
print("4. Distance from the new object to the nearest neighbor using the Manhattan distance:", round(nearest_neighbor_manhattan['Manhattan_Distance'], 3))
print("5. IDs of the three nearest points to the new object for the Manhattan distance:", ', '.join(map(str, three_nearest_ids_manhattan)))
print("6. Class for the new object with coordinates (20, 48) for k=3 using the Manhattan distance:", class_for_new_object_manhattan)

1. Distance from the new object to the nearest neighbor using the Euclidean metric: 9.849
2. IDs of the three nearest points to the new object for the Euclidean metric: 3, 4, 10
3. Class for the new object with coordinates (20, 48) for k=3 using the Euclidean metric: 1
4. Distance from the new object to the nearest neighbor using the Manhattan distance: 13.0
5. IDs of the three nearest points to the new object for the Manhattan distance: 3, 4, 10
6. Class for the new object with coordinates (20, 48) for k=3 using the Manhattan distance: 1